@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
/* header */
.head {
    background-color: black;
}
.header_title {
    font-size: 45px;
    color: white;
    font-family: staatliches, cursive;
    font-weight: 400;
    text-decoration: none;
}
.logo_menu {
    color: white;
    font-size: 15px;
    font-weight: 200;
    text-decoration: none;
}
/* main */
.first_block_about {
    background-image: url(../img/car_first_block_first.jpeg);
    background-size: cover;
    background-position: center;
    min-height: 500px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.firs_block_title {
    color: white;
    font-size: 95px;
    line-height: 1px;
    font-family: staatliches, cursive;
    font-weight: 400;
}
.first_block_secondtitle {
    color: white;
    font-size: 40px;
    line-height: 1px;
    font-family: staatliches, cursive;
    font-weight: 400;
}

/*.first_block_second_page {
    background-image: url(../img/car_first_block_second.jpeg);
    background-size: cover;
    background-position: center;
    min-height: 500px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}*/
.second_block_title {
    color: black;
    text-align: center;
    font-family: staatliches, cursive;
    font-size: 44px;
    line-height: 1;
    font-weight: 400;
}
.second_botton {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;  
}

.third-block {
    margin-top: 50px;
    background-image: url(../img/car_third_block.jpeg);
    background-size: cover;
    background-position: center;
    min-height: 300px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-size: 44px;
    line-height: 1;
    font-family: staatliches, cursive;
    font-weight: 400;
}



    













img {
    width: 30%;
}