@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
/* header */
.head {
    background-color: black;
}
.header_title {
font-size: 44px;
color: white;
font-family: Staatliches;
font-weight: 400;
}
.menu {
    color: white;

}